body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.doctorCardContainer {
  text-align: left;
  margin-left: 25%;
  margin-right: 10%;
  border: 1px solid tomato;
  margin-bottom: 50px;
}
