body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.doctorCardContainer {
  text-align: left;
  width: 100%;
  border: 1px solid tomato;
  margin-bottom: 50px;
}

.body {
  display: flex;
  width: 100%;
}

.filter {
  width: 25%;
  border: 1px solid maroon;
}

.searchForm {
  display: flex;
  flex-direction: column;
  height: 200px;
  border: 1px solid blueviolet;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 5px 15px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* map links */
.button a {
  text-decoration: none;
  color: #fff;
}

.search {
  width: 100%;
  margin-right: 50px;
}

.AutoCompleteText {
  width: 50%;
  border: 1px solid grey;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.18);
}

.AutoCompleteText input {
  width: 99%;
  border: none;
  outline: none;
  padding: 10px 5px;
}

.AutoCompleteText ul::before {
  content: '';
}

.AutoCompleteText ul {
  list-style: none;
  text-align: left;
}

.AutoCompleteText li {
  padding: 10px 5px;
}

.suggest-container {
  margin: 0 auto;
  width: 100%;
  margin-left: 150px;
}

.lost {
  text-align: center;
}

.lost img {
  height: 400px;
  margin-left: 2%;
}

.pagination {
  display: flex;
}

.pagination li {
  list-style: none;
  margin-left: 5px;
  margin-right: 5px;
}
